# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
api/media/
media/

# Environment
.env
.env.*
!.env.example

# Docker
.dockerignore

# Editor
.vscode/
.idea/
*.swp
*.swo
